
#aboutme{
	max-width: 750px;
	padding:10px 0px 0px 200px;
	text-align:justify;
	font-family: custom1;
	font-size:1.5em;
}
#img-johney{
	height: 250px;
	border-radius: 150px;
	margin-top:-50px;
}
.hovereffect {

    width: 100%;
    height: 200px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    
}
.hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 4.25em;
	background: #79FAC4;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	}

.btn{
	color:#fff;
	height:38px;
    background-color: #333;
    color: #f1f1f1;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0;
    transition: .2s;
}
.hovereffect button:hover,button{
	border:1px solid #333;
	background-color:#fff;
	color:000;
}
.hovereffect h3{
	text-align: left;
	padding-left: 19px;
}
.hovereffect p{
	height:100px !important;
	text-align: justify;
	padding:25px 20px 20px 20px;
}
#anonymize{
	margin-top: -22px;
}


.hovereffect:hover .overlay
{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.navbar {
	height: 10%;
    margin-bottom:0;
    border: 0;
    font-size: 20px !important;
    letter-spacing: 1px;
    opacity:0.9;
}
.navbar li{
	text-align: left;
	padding-top: 2px;	
	margin-top:5px;
	font-weight: 900;
	font-family:custom1;

}
.navbar a{
	background:transparent;
}
.navbar img{
	height:40px;
	border-radius: 50px;
	margin-top:-7px;
}
/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: #2c3e50 !important;
    padding-left: 20px;
}

.navbar.change-color li a,.navbar .navbar-brand{
	color:white !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: red !important;
}
.navbar li.active a{
	color:#ecf0f1 !important;
	background-color: transparent !important;
}

.navbar-default {
  background: transparent;
  border: none;
  transition: 0.2s all linear;	
}

.navbar-default.change-color {
  background-color: #2d2d30;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(221,221,221,1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(221,221,221,1);
  box-shadow: 0px 0px 4px 0px rgba(221,221,221,1);
}

i{
	padding:40px 10px 10px 10px;
}
@font-face {
    font-family: custom;
    src: url("fonts/Nexa Bold.otf");
}
@font-face{
	font-family:custom1;
	src:url("fonts/Nexa Light.otf");
}


#abouthead{
	padding-left: 200px;
	margin-top: -70px;
	font-weight: 900;
	font-family: custom;
	font-size:70px;
}
h3{
	font-family:custom;
}
p{
	font-family: custom1;
	font-weight:bolder;
}

.element{
	font-family:custom;
	font-size:50px !important;
	margin-left: 100px !important;
}


.typed-cursor{
	font-size:60px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    padding-bottom: -10px;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
#section1{
	background-image: url("627.svg");
	background-size: cover;
	background-attachment: fixed;
}

ul.social-buttons {
  text-align: center;
  margin-top: 50px;
}

ul.social-buttons li {
  display: inline-block;
  margin: 0 10px;
}

ul.social-buttons li a {
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 50px;
  text-decoration: none;
  font-size: 30px;
  line-height: 60px;
  color: white;
}

